$font-source-code-pro: "Source Code Pro", monospace;

.chill-container {
    background-color: rgb(55, 52, 44);
    box-shadow: 0 10px -15px black;
    position: relative;
    width: 100%;
}

.chill-wide-header {
    padding: 2vw;
    font-size: 6vw;
    text-transform: uppercase;
    color: rgb(255, 57, 136);
    text-shadow: 4px 4px 3px rgb(100, 86, 86);
    backdrop-filter: blur(4px);
    background-color: rgba(68, 30, 30, 0.6);
    top: 0;
    position: absolute;
    display: inline-block;
    transform: translate(0, -50%);
    left: 3%;
    right: 3%;
    text-align: center;
    border-radius: 10px 10px;
}

.chill-info {
    padding-left: 3vw;
    font-weight: 400;
    font-size: 2vw;
    background-color: rgb(149, 206, 255);
    padding: 3vw;
    margin: 1vw;
    border-radius: 3vh 3vh;
}

.chill-key-point {
    padding-left: 3vw;
    font-size: 3vw;
    margin-top: 5vh;
    padding: 3vh;
}

.chill-card-container {
    display: grid;
    height: 200vh;
    padding: 20vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw 1vw;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    perspective: 2000px; /* Enables 3D space for card flip */

    .chill-card {
        height: 100%;
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        // padding: 2vw;
        background-color: rgb(255, 57, 136);
        box-shadow: 10px 10px 10px rgb(33, 33, 33);
        border-radius: 1vh 1vh;
        transition: transform 0.8s ease;
        transform-style: preserve-3d; /* Enable 3D effect */
        position: relative;
        cursor: pointer; /* Makes it clear that the card is clickable */
    
        /* Specific color variants for the first row of cards */
        &.row-0.col-0 {
            background-color: orange;
        }
    
        &.row-0.col-1 {
            background-color: crimson;
        }
    
        /* Flipping the card when it has the 'flipped' class */
        &.flipped {
            transform: rotateY(180deg); /* Flip the card 180 degrees on Y axis */
        }
    
        &:hover {
            background-color: red;
        }

        .chill-card-front, .chill-card-back {
            position: absolute;
            // width: 90%;
            // height: 90%;
            backface-visibility: hidden;
        }
    
        .chill-card-back {
            font-family: $font-source-code-pro;
            transform: rotateY(180deg);
            background-color: white;
            // padding: 3vh;
            font-size: 1.05rem;
            width: 90%;
            height: 90%;
            margin: 3vh;
        }
        .chill-card-front {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            img {
                margin-top: 5vh;
                width: 50%;
            }
    
            h2 {
                margin-top: 5vh;
                text-align: center;
                font-family: $font-source-code-pro;
            }
    
            p {
                text-align: start;
            }
        }
    }
}

@media (max-width: 575px) {
    .chill-card-container {
        height: auto;
        padding: 3vw;
        grid-template-columns: repeat(1, 1fr);
        perspective: none;

        .chill-card {
            width: 100%;
            min-height: 80vh;
            height: auto;
            margin-top: 10vh;
        
            .chill-card-back {
                padding: 5%;
                font-size: 0.6rem;
            }

            &:last-of-type {
                margin-bottom: 10vh;
            }
        }
    }
}