.footer {
    position: relative;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
        // background-color: red;
    background: radial-gradient(circle at center, #eb4034, #ed4c1f, #ed1fa8);
    display: flex;
    align-items: flex-start;
    height: 20vh;
    flex-shrink: 0;
    box-shadow: 0 0 2px 1px rgba(190, 190, 190, 0.475);
    color: white;
    padding: 0 3vh 0 10vh;    

    .footer-section {
        h2 {
            padding: 7vh 0 0 0;
        }
    }

    .footer-contact-info {

        ul {
            list-style-type: none;
        }
    }
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
  }
  
  .social-icons a {
    color: black;
    font-size: 2rem;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #0073b1;
  }
  
  .social-icons a.github:hover {
    color: #333; 
  }

  @media (max-width: 575px) {
    .footer {

      flex-direction: column-reverse;
      height: 100vh;
      justify-content: center;
      overflow: hidden;

      .footer-section {
        h2 {
          padding: 0 0 0 0;
          margin: 0;
        }

        margin-top: 10vh;
        
        &:first-of-type {

            margin-bottom: 10vh;
        }

        // &:last-of-type {

        //     margin-top: 10vh;
        // }
      }

      .footer-contact-info {

        ul {
          margin-top: 3vh;
        }
      }

      .footer-connect-info {

        .social-icons {
          margin-top: 3vh;
        }
      }
    }
  }