.page-article {
    height: 120vh;
    // background: radial-gradient(circle at center, #ff7e5f, #feb47b, #edcf6d);
    //background: conic-gradient(from 90deg at 50% 50%, #ff7e5f, #feb47b, #6dd5ed);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}