@import 'reset';
@import 'shader';
@import 'article_card';
@import 'page_article';
@import 'chill_article';
@import 'footer';
@import 'gsc_documentation';

$color-test: rgba(0, 255, 200, 0.552);
$navbar-opacity: 0.9;
$navbar-text-color: rgb(172, 233, 242);
$navbar-bg-color: $color-test;
$navbar-text-color-float: rgb(141, 188, 195,);
$navbar-bg-color-float: rgb(199, 199, 199, $navbar-opacity);

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

$font-source-code-pro: "Source Code Pro", monospace;


.logo-text-placeholder {
  display: inline;
  color: white;
}

body {
  height: 100vh;
  width: 100%;
  //background-image: url('../images/background.png');
  //background-size: cover;
  padding-top: 9vh;
  background-color: rgb(55, 52, 44);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-item {
  font-family: $font-source-code-pro;
  padding: 2vh 2vh 2vh 2vh;
  color: rgb(71, 71, 71);
  background-color: $navbar-bg-color;
  box-shadow: 0 0 5px rgb(74, 74, 74);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgb(178, 175, 175);
}

.navbar-item:link {
}

.navbar-item:visited {
}

.navbar-item:hover {
  box-shadow: 0 0 10px rgb(124, 124, 124);
  background-color: $navbar-bg-color-float;
  text-shadow: 0 0 1px rgb(7, 227, 251);
}

.navbar-item:active {
  color: $navbar-text-color;
}

// .navbar-item:first-child {
//   border-radius: 25% 0 0 25%;
// }

// .navbar-item:last-child {
//   border-radius: 0 25% 25% 0;
// }


.navbar-links {
  display: flex;
  margin: 2vh;
}

.navbar-container {
  height: 9vh;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  backdrop-filter: blur(4px);
  // background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(255, 255, 255));
  // background-color: rgb(199, 199, 199, 0.4);
  // border-radius: 1vw 1vw;  
  margin: 0;
  z-index: 10;
  // margin: 1vh;
  padding: 2vh;
  width: 100%;
  // border-bottom: 1px solid black;
  box-shadow: 0 0 6px 0.5px;
}

.sticky-navbar {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 7vh;
}

@media (max-width: 575px) {
  .navbar-logo {
    display: none;
    height: 1vh;
  }
}