@model CC.Models.GSC_DocumentationModel;
<input type="text" id="search-box" placeholder="Search documentation...">
<div class="gsc-documentation-container">
    <script src="~/js/gsc_page.js"></script>
</div>