@model CC.Models.GSC_DocumentationModel;
<div class="criteria-container">
    <div class="criteria-searchbar">
        <input type="text" id="search-box" placeholder="Search documentation...">
    </div>
    @* <div class="">
        <label class="criteria-checkbox">
            <input class="checkbox" type="checkbox" id="toggle">
            <span class="checkbox-style">Toggle me</span>
        </label>
        <label class="criteria-checkbox">
            <input class="checkbox" type="checkbox" id="toggle">
            <span class="checkbox-style">Toggle me</span>
        </label>
        <label class="criteria-checkbox">
            <input class="checkbox" type="checkbox" id="toggle">
            <span class="checkbox-style">Toggle me</span>
        </label>
    </div> *@
</div>
<div class="gsc-documentation-container">
    <script src="~/js/gsc_page.js"></script>
</div>