* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.shader-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.article-card {
  border-radius: 2vh;
  padding: 2vw;
  background-color: rgba(214, 214, 214, 0.4);
  backdrop-filter: blur(4px);
  margin: 6vw;
  font-family: "Source Code Pro", monospace;
  box-shadow: 2px 2px 3px 1px rgb(86, 72, 9);
  display: flex;
  align-items: center;
}

.article-card-text {
  width: 70%;
}

.article-card-header {
  font-weight: bold;
  text-transform: uppercase;
  padding: 2vh;
  background-color: rgb(197, 255, 247);
  backdrop-filter: blur(4px);
  margin: 0 0 2vh 0;
  border-radius: 2vh;
  display: inline-block;
}

.article-card-description {
  font-size: 0.8rem;
  background-color: rgb(255, 253, 255);
  padding: 2vh;
  border-radius: 2vh 2vh;
}

.article-card-image {
  width: auto;
}

.article-card-image img {
  width: auto;
  margin: 0 0 0 10vw;
}

.article-card-bullet-point-container {
  width: 85%;
  margin-left: 2vw;
}

.article-card-bullet-point {
  width: 100%;
  font-size: 0.8rem;
  margin: 1vh;
  padding: 1vh;
  border-radius: 5px;
  background-color: rgb(197, 255, 247);
}

@media (max-width: 900px) {
  .article-card {
    flex-direction: column-reverse;
    align-items: start;
    margin-bottom: 10vh;
  }
  .article-card .article-card-text {
    width: 100%;
    margin-top: 10vh;
    padding: 20px;
  }
  .article-card .article-card-text .article-card-bullet-point-container {
    width: 100%;
  }
  .article-card .article-card-text .article-card-bullet-point-container .article-card-bullet-point {
    width: 95%;
  }
  .article-card .article-card-image {
    margin-top: 10vh;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  .article-card .article-card-image img {
    width: 80%;
    margin-left: 0;
  }
}
.page-article {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chill-container {
  background-color: rgb(55, 52, 44);
  box-shadow: 0 10px -15px black;
  position: relative;
  width: 100%;
}

.chill-wide-header {
  padding: 2vw;
  font-size: 6vw;
  text-transform: uppercase;
  color: rgb(255, 57, 136);
  text-shadow: 4px 4px 3px rgb(100, 86, 86);
  backdrop-filter: blur(4px);
  background-color: rgba(68, 30, 30, 0.6);
  top: 0;
  position: absolute;
  display: inline-block;
  transform: translate(0, -50%);
  left: 3%;
  right: 3%;
  text-align: center;
  border-radius: 10px 10px;
}

.chill-info {
  padding-left: 3vw;
  font-weight: 400;
  font-size: 2vw;
  background-color: rgb(149, 206, 255);
  padding: 3vw;
  margin: 1vw;
  border-radius: 3vh 3vh;
}

.chill-key-point {
  padding-left: 3vw;
  font-size: 3vw;
  margin-top: 5vh;
  padding: 3vh;
}

.chill-card-container {
  display: grid;
  height: 200vh;
  padding: 20vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw 1vw;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  perspective: 2000px; /* Enables 3D space for card flip */
}
.chill-card-container .chill-card {
  height: 100%;
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
  background-color: rgb(255, 57, 136);
  box-shadow: 10px 10px 10px rgb(33, 33, 33);
  border-radius: 1vh 1vh;
  transition: transform 0.8s ease;
  transform-style: preserve-3d; /* Enable 3D effect */
  position: relative;
  cursor: pointer; /* Makes it clear that the card is clickable */
  /* Specific color variants for the first row of cards */
  /* Flipping the card when it has the 'flipped' class */
}
.chill-card-container .chill-card.flipped {
  transform: rotateY(180deg); /* Flip the card 180 degrees on Y axis */
}
.chill-card-container .chill-card:hover {
  background-color: rgb(238, 57, 130);
  box-shadow: 0px 10px 10px rgb(49, 49, 49);
}
.chill-card-container .chill-card .chill-card-front, .chill-card-container .chill-card .chill-card-back {
  position: absolute;
  backface-visibility: hidden;
}
.chill-card-container .chill-card .chill-card-back {
  padding: 5%;
  font-family: "Source Code Pro", monospace;
  transform: rotateY(180deg);
  background-color: white;
  font-size: 0.8rem;
  width: 90%;
  height: 90%;
  margin: 3vh;
  overflow-y: auto;
  border-radius: 1vh 1vh;
}
.chill-card-container .chill-card .chill-card-front {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chill-card-container .chill-card .chill-card-front img {
  margin-top: 5vh;
  width: 20vw;
}
.chill-card-container .chill-card .chill-card-front h2 {
  margin-top: 5vh;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: white;
}
.chill-card-container .chill-card .chill-card-front p {
  text-align: start;
}

@media (max-width: 900px) {
  .chill-card-container {
    height: auto;
    padding: 3vw;
    grid-template-columns: repeat(1, 1fr);
    perspective: none;
  }
  .chill-card-container .chill-card {
    width: 100%;
    min-height: 80vh;
    height: auto;
    margin-top: 10vh;
  }
  .chill-card-container .chill-card .chill-card-back {
    font-size: 0.6rem;
  }
  .chill-card-container .chill-card:last-of-type {
    margin-bottom: 10vh;
  }
}
.footer {
  position: relative;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background: radial-gradient(circle at center, #eb4034, #ed4c1f, #ed1fa8);
  display: flex;
  align-items: flex-start;
  height: 20vh;
  flex-shrink: 0;
  box-shadow: 0 0 2px 1px rgba(190, 190, 190, 0.475);
  color: white;
  padding: 0 3vh 0 10vh;
}
.footer .footer-section h2 {
  padding: 7vh 0 0 0;
}
.footer .footer-contact-info ul {
  list-style-type: none;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.social-icons a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0073b1;
}

.social-icons a.github:hover {
  color: #333;
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column-reverse;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
  }
  .footer .footer-section {
    margin-top: 10vh;
  }
  .footer .footer-section h2 {
    padding: 0 0 0 0;
    margin: 0;
  }
  .footer .footer-section:first-of-type {
    margin-bottom: 10vh;
  }
  .footer .footer-contact-info ul {
    margin-top: 3vh;
  }
  .footer .footer-connect-info .social-icons {
    margin-top: 3vh;
  }
}
.gsc-documentation-container {
  background-position: center; /* Centers the background */
  background-repeat: no-repeat; /* Prevents tiling of the background */
  width: 100%;
  margin: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.gsc-card {
  font-family: "Source Code Pro", monospace;
  background-color: #d9f3ff;
  margin: 2vh;
  padding: 0;
  box-shadow: 0 0 8px 1px rgba(128, 128, 128, 0.359);
  letter-spacing: -0.7px;
  border-radius: 10px;
  border-top: solid red 3px;
  height: auto;
}

.gsc-card:first-of-type {
  margin-top: 0;
}

.gsc-card:last-of-type {
  margin-bottom: 0;
}

.title-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: auto;
}

.down-arrow-icon {
  width: 2vw;
}

.function-title {
  padding-left: 1vw;
  font-size: 16px;
  font-weight: normal;
}

.function-dropdown {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.function-dropdown p {
  padding: 1vh;
}

.criteria-container {
  padding: 2vh;
  right: 0;
  background: radial-gradient(circle at center, #eb4034, #ed4c1f, #ed1fa8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.criteria-container #search-box {
  outline: none;
  border-radius: 5px;
  padding: 1vh;
  width: 40vw;
  background-color: rgb(250, 248, 248);
}
.criteria-container .criteria-checkbox {
  position: relative;
  display: inline-block;
}
.criteria-container .criteria-checkbox input[type=checkbox] {
  display: none;
}
.criteria-container .criteria-checkbox .checkbox-style {
  padding: 10px;
  background-color: crimson;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
  border: 1px solid grey;
  border-radius: 5px;
}
.criteria-container .criteria-checkbox .checkbox-style:hover {
  background-color: orange;
}
.criteria-container .criteria-checkbox input[type=checkbox]:checked + .checkbox-style {
  background-color: blue;
  color: white;
}

.logo-text-placeholder {
  display: inline;
  color: white;
}

body {
  height: 100vh;
  width: 100%;
  padding-top: 9vh;
  background-color: rgb(55, 52, 44);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-item {
  font-family: "Source Code Pro", monospace;
  padding: 2vh 2vh 2vh 2vh;
  color: rgb(71, 71, 71);
  background-color: rgba(0, 255, 200, 0.552);
  box-shadow: 0 0 5px rgb(74, 74, 74);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgb(178, 175, 175);
}

.navbar-item:hover {
  box-shadow: 0 0 10px rgb(124, 124, 124);
  background-color: rgba(199, 199, 199, 0.9);
  text-shadow: 0 0 1px rgb(7, 227, 251);
}

.navbar-item:active {
  color: rgb(172, 233, 242);
}

.navbar-links {
  display: flex;
  margin: 2vh;
}

.navbar-container {
  height: 9vh;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  backdrop-filter: blur(4px);
  margin: 0;
  z-index: 10;
  padding: 2vh;
  width: 100%;
  box-shadow: 0 0 6px 0.5px;
}

.sticky-navbar {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 7vh;
}

@media (max-width: 575px) {
  .navbar-logo {
    display: none;
    height: 1vh;
  }
}

/*# sourceMappingURL=style.css.map */
